<nav aria-label="..." id="paginationId" class="my-4">
    <ul class="pagination pagination-lg">
        {% if links.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ links.previous_page_number }}">&laquo;</a>
            </li>
        {% endif %}
        {% for page in links.paginator.page_range %}
            <li class="page-item {% if page == links.number %} active {% endif %}">
                <a class="page-link" href="?page={{page}}">{{ page }}</a>
            </li>
        {% endfor %}
        {% if links.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ links.next_page_number }}">&raquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ links.paginator.num_pages }}">Last</a>
            </li>
        {% endif %}
    </ul>
</nav>