{% extends 'base.html' %}

{% block title %} Shortener {% endblock %}

{% block content %}

    <div class="container">
        <div class="row" style="padding-bottom: 100px">
            <div class="col-md-7 text-center my-4 center">
                <div style="margin-top: 200px">
                    <h1 class="text-header">Short Link, Big Result</h1>
                    <h2 class="text-muted under-header">A URL Shortener make custom link <br>for your use.</h2>
                </div>
            </div>

            <div class="col-md-5 text-center">
                <div>
                    <img src="/static/shortener/img/icon_image.jpg" width="500px" height="500px" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="background-color: #0b1736;">
        <div class="container" id="shortFormForRedirect">
            <div class="row">
                <form class="padding" method="post" id="shortForm" data-yrl="{% url 'shortener:shortener' %}"> {% csrf_token %}
                    <div class="row g-2">
                        <div class="col-md-8">
                            {{ form.full_link }}
                        </div>
                        <div class="col-md text-end">
                            <button type="button" class="btn btn-primary btn-lg" id="button-replace" style="width: 100%">Cut Link</button>
                        </div>
                        <div class="col-md">
                            <a class="btn btn-primary btn-lg" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="width: 100%">
                                Designed Link
                            </a>
                        </div>
                    </div>
                    <div class="collapse my-2" id="collapseExample">
                        <div class="card card-body">
                            {{form.designed_link}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="padding-top: 80px;">
            <div class="col-md-8 text-center mx-auto">
                <h1 class="text-header">Our Short Link</h1>
            </div>
        </div>
        <div class="row" style="padding-bottom: 100px">
            <div class="col-md-8 mx-auto text-center" id="pagination-link">
                <table class="table table-striped table-bordered my-2">
                    <thead>
                    <tr class="text-center">
                        <th scope="col">Shortened Link</th>
                        <th scope="col">Count of use</th>
                        <th scope="col"> Edit </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for link in links %}
                    <tr class="text-center">
                        <td>
                            {% if link.short_link %}
                                <a href="">{{ link.short_link }}</a>
                            {% else %}
                                <a href="">{{ link.designed_link }}</a>
                            {% endif %}
                        </td>
                        <td>{{link.count_use}}</td>
                        <td><a href="{% url 'shortener:update' pk=link.id %}" class="btn btn-outline-primary" role="button">Edit Link</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% include 'shortener/pagination.html' %}
            </div>
        </div>
    </div>

    <div class="row" style="padding-bottom: 100px">
        <div class="col-md-12" style="background-color: #0b1736; padding-bottom: 20px; padding-top: 20px">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto text-center">
                        <h1 class="text-header" style="color: white">We can more<br>that you think!</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a type="button" class="btn btn-primary btn-lg" style="width: 100%" href="{% url 'shortener:designed_links' %}" >Custom Link</a>
                    </div>
                    <div class="col-md-3 mx-auto">
                        <a type="button" class="btn btn-primary btn-lg" style="width: 100%" href="#NavBar" >Join us</a>
                    </div>
                    <div class="col-md-3">
                        <a type="button" class="btn btn-primary btn-lg" style="width: 100%" href="{% url 'shortener:standard_links' %}" >Standard Link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding-bottom: 250px">
        <div class="row">
            <div class="col-md-6 text-center">
                <img loading="lazy" class="alignnone size-full wp-image-5316" src="https://docrdsfx76ssb.cloudfront.net/static/1615406718/pages/wp-content/uploads/2019/08/Homepage-Branded-Links-Illustration-1.png" alt="branded links" style="width: 65%" height="200">
                <h1>Create Your Short Link</h1>
                <h4 class="text-muted under-header">Create shortened links for your <br> resources for easier storage.</h4>
            </div>
            <div class="col-md-6 text-center">
                <img loading="lazy" class="alignnone size-full wp-image-5314" src="https://docrdsfx76ssb.cloudfront.net/static/1615406718/pages/wp-content/uploads/2019/08/Homepage-Branded-Links-Illustration-3.png" alt="auto branding" style="width: 60%" height="200">
                <h1>Create Your Custom Link</h1>
                <h4 class="text-muted under-header">Create your own custom shortened <br> links for better orientation between them.</h4>
            </div>
        </div>

        <div class="row text-center" style="padding-top: 50px">
            <div class="col-md-12">
                <a class="btn btn-outline-primary btn-lg" id="link" href="#shortFormForRedirect" role="button">Create your own link</a>
            </div>
        </div>
    </div>



{% endblock %}
