<!doctype html>
{% load static %}
{% url 'shortener:designed_links' as designed_links %}
{% url 'shortener:standard_links' as standard_links %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'shortener/css/shortener_style.css' %}">
        <link rel="icon" href="{% static 'shortener/img/favicon.ico' %}">
        <title>{% block title %} {% endblock %} | Shortener</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light over">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'main' %}">Shortener</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Link List
                            </a>
                            <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'shortener:designed_links' %}">Designed Links</a></li>
                                <li><a class="dropdown-item" href="{% url 'shortener:standard_links' %}">Standard Links</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% if messages %}
        <div class="container my-2">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class=" alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {%else %}
                    <div class=" alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{% static 'shortener/js/test_ajax.js' %}"></script>

        <div class="container">
            {% block content %} {% endblock %}
        </div>

        <footer class="footer fixed-bottom mt-auto py-4 bg-light">
            <div class="container">
                <span class="text-muted">Some data for container</span>
            </div>
        </footer>
    </body>
</html>